{% load static %}
<div class="main">
<!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title"></h3>
      <div class="row">
        <div class="col-md-8">
          <!-- PANEL HEADLINE -->
          <div class="panel panel-headline">
            <div class="panel-heading">
              <h3 class="panel-title">奇点虚拟现实技术工作坊 欢迎你</h3>
              <p class="panel-subtitle">创新创业学院</p>
            </div>
            <div class="panel-body">
              <h4>简介</h4>
              <p> 创新创业学院“奇点虚拟现实技术工作坊”成立于2016年，工作坊致力于虚拟现实（VR）、增强现实（AR）和混合现实（MR）理论与应用技术的探索，侧重于通过实际项目训练和竞赛培养本科生在虚拟现实技术方面的创新实践能力。<br>

                  另一方面，工坊突破以往3D模型支持教育、游戏开发的建模瓶颈，开展VR大数据可视化的创新实践活动。将人工智能和心理学的创新元素融入VR数据可视化的研发。培养学生对数据科学的兴趣。<br>

                  工作坊目前配备了多台高性能图形计算机、HTC VIVE眼镜与交互设备、HoloLens增强现实眼镜、XBOX开发平台、KINECT2.0体感相机以及非富的VR书籍资料和完善的课程体系，为本科生在虚拟现实技术方面提供良好的创新实践平台。</p>
            </div>
          </div>
          <!-- END PANEL HEADLINE -->
        </div>
        <div class="col-md-4">
          <!-- PANEL NO PADDING -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">平台使用介绍</h3>
              <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>
            <div class="panel-body">
                <P>1 在<strong>个人信息</strong>页面完善自己的信息,在右上角个人作业封皮中确认信息</p>
                <P>2 在<strong>作业系统->作业模板</strong>页面查看当前需要完成的作业，下载作业模板。<strong>作业模板是docx格式</strong></p>
                <P>3 在下载的作业模板上依据上课所学完成作业，以自己能看懂的作业名或作业次数命名</p>
                <P>4 将完成好的作业另存为转换成<strong>pdf格式</strong>，在<strong>作业系统->上传作业</strong>页面上传该文件</p>
                <P><strong>！！！只接受pdf格式文件的上传！！！</strong></p>
                <P>5 在<strong>作业系统->已上传作业列表</strong>页面查看当前作业，在允许提交时间里可以删除并重新传输</p>
            </div>
          </div>
          <!-- END PANEL NO PADDING -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- PANEL DEFAULT -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">实践课程：</h3>
              <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>
            <div class="panel-body">
              <p>Unity3D开发与C#编程基础<br>

                游戏开发与编程进阶<br>

                Unity3D与AR开发<br>

                VR与数据可视化编程</p>
            </div>
          </div>
          <!-- END PANEL DEFAULT -->
        </div>
        <div class="col-md-4">
          <!-- PANEL NO CONTROLS -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">主要成果：</h3>
            </div>
            <div class="panel-body">
              <p>（1）虚拟训练场景中的跟踪定位与交互技术。代表性的作品有“基于HTC VIVE的VR宿舍火灾自救训练系统”和“基于HTC VIVE的VR虚拟乐高积木游戏”。</p>
              <p>（2）VR与大数据可视化应用。代表性的作品有“基于HoloLens的数学图形可视化系统”。</p>
              <p>（3）与视觉技术相结合的增强现实应用。代表性的作品有“基于手机APP的AR地球仪”。</p>
              <p>（4）VR与AR游戏开发。代表性作品有“基于HoloLens的MMD舞蹈程序”。</p>
            </div>
          </div>
          <!-- END PANEL NO CONTROLS -->
        </div>
        <div class="col-md-4">
          <!-- PANEL WITH FOOTER -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">指导教师</h3>
              <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
              <img src="{% static 'assets/img/wfl.jpg' %}"  alt="Avatar" width='100%'>
              </div>
              <div class="col-md-6">
              <p>王飞龙</p>
              <p>大连理工大学 , 工程师<br>
              毕业院校 : 中国科学院大学
              Email : wangfeilong@dlut.edu.cn</p>
              </div>
            </div>
          </div>
          <!-- END PANEL WITH FOOTER -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- PANEL WITH FOOTER -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
              </div>
            </div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="col-md-12">
            							<!-- TABLE HOVER -->
            							<div class="panel">
            								<div class="panel-heading">
            									<h3 class="panel-title">课件及资料</h3>
            								</div>
            								<div class="panel-body">
            									<table class="table table-hover">
            										<thead>
                                  <tr>
                                      <th>文件名称</th>
                                      <th>提交日期</th>
                                      <th>操作</th>
                                  </tr>
            										</thead>
            										<tbody>
                                  {% for sheet in object_list %}
                                  {% if sheet.data_type == 2 %}
                                  <tr>
                                      <td>{{sheet.file_field}}</td>
                                      <td>{{sheet.submit_time|date:'Y-m-d'}}</td>
                                      <td>
                                        <div>
                                          <form action="{% url 'Teaching:homeworkdelete' sheet.uid %}" method="post">{% csrf_token %}
                                            <a type="button" class="btn btn-info" href="{% url 'Teaching:homeworkdownload' sheet.uid %}">下载</a>
                                            {% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
                                            <input class="btn btn-danger" type="submit" value="删除" onclick="if(confirm('Are you sure you want to delete the file ?')==false)return false;"/>
                                            {% endif %}
                                          </form>
                                        </div>
                                      </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
            										</tbody>
            									</table>
            								</div>
            							</div>
            							<!-- END TABLE HOVER -->
            						</div>
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="{% url 'auth:index' page=page_obj.previous_page_number %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for pageid in paginator.page_range %}
                        <li {% if pageid == page_obj.number %}class="active"{% endif %}>
                            <a href="{% url 'auth:index' page=pageid %}">{{ pageid }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="{% url 'auth:index' page=page_obj.next_page_number %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <a href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            </div>
          </div>
          <!-- END PANEL WITH FOOTER -->
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
