{% extends "./index.html" %}
{% block main %}
<div class="main">
<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">待完成作业模板</h3>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
                      <tr>
                          <th>文件</th>
                          <th>提交日期</th>
                          <th>操作</th>
                      </tr>
										</thead>
										<tbody>
                      {% for sheet in object_list %}
                      <tr>
                          <td>{{sheet.file_field}}</td>
                          <td>{{sheet.submit_time|date:'Y-m-d'}}</td>
                          <td>
                            <div>
                              <form action="{% url 'Teaching:homeworkdelete' sheet.uid %}" method="post">{% csrf_token %}
                                <a type="button" class="btn btn-info" href="{% url 'Teaching:homeworkdownload' sheet.uid %}">下载</a>
                                {% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
                                <input class="btn btn-danger" type="submit" value="删除" onclick="if(confirm('Are you sure you want to delete the file ?')==false)return false;"/>
                                {% endif %}
                              </form>
                            </div>
                          </td>
                      </tr>
                      {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
</div>
</div>
</div>
{% endblock%}
