{% extends "./index.html" %}
{% block main %}
<div class="main">
<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">导出学生作业</h3>
								</div>
								<div class="panel-body">
                  <table class="table">
                      <tr>
                          <th>用户名</th>
                          <th>姓名</th>
                          <th>学号</th>
                          <th>已提交作业数量</th>
                          <th>操作</th>
                      </tr>
                      {% for sheet in object_list %}
                      <tr>
                          <td>{{sheet.user_info.user}}</td>
                          <td>{{sheet.user_info}}</td>
                          <td>{{sheet.student_id}}</td>
                          <td>{{sheet.homework_count}}</td>
                          <td>
                          <a type="button" class="btn btn-info" href="{% url 'Teaching:download' sheet.uid %}">下载</a>
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                      <div>
                        <a type="button" class="btn btn-info" href="{% url 'Teaching:allexport' %}">全部导出</a>
                      </div>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="{% url 'Teaching:index' page=page_obj.previous_page_number %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for pageid in paginator.page_range %}
                        <li {% if pageid == page_obj.number %}class="active"{% endif %}>
                            <a href="{% url 'Teaching:index' page=pageid %}">{{ pageid }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="{% url 'Teaching:index' page=page_obj.next_page_number %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <a href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
</div>
</div>
</div>
{% endblock%}
