<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table class="table">
        <tr>
            <th>序号</th>
            <th>题目</th>
            <th>提交时间</th>
        </tr>
        {% for sheet in object_list %}
        <tr>
            <td>{{sheet.id}}</td>
            <td>{{sheet.title}}</td>
            <td>{{sheet.submit_time}}</td>
            <td>
                <a type="button" class="btn btn-info btn-xs" href="{% url 'homework:list' %}">详细</a>
            </td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
