{% extends "./index.html" %}
{% block main %}
<div class="main">
<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container-fluid">
    <table class="table">
        <tr>
            <th>文件</th>
            <th>提交日期</th>
            <th>操作</th>
        </tr>
        {% for sheet in object_list %}
        <tr>
            <td>{{sheet.file_field}}</td>
            <td>{{sheet.submit_time}}</td>
            <td>
                <form action="{% url 'homework:cancel' sheet.uid %}" method="post">{% csrf_token %}
                  <input class="btn btn-danger" type="submit" value="删除" onclick="if(confirm('Are you sure you want to delete the file ?')==false)return false;"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
</div>
{% endblock%}
